:root {
    --primary-color: grey !important;
    --secondary-color: yellow;
    --transition: all 0.2s ease-out;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    overflow-x: hidden;
    position: relative;
  }

  /* Utilities */
/*.container {
  max-width: 1100px;
  width: 90%;
  margin: auto;
  overflow: hidden;
} */

.primary-color {
    color: white;
  }

  h3 {
    color: white;
  }

  ul {
    list-style: none;
  }
  
  a {
    text-decoration: none;
  }
  
  i {
    color: white;
  }
  
  img {
    width: 100%;
  }
  
  .btn-mg {
    margin: 2rem 1rem;
  }
  
  .mg-top {
    margin-top: 3.5rem;
  }

  /* Buttons */
.btn {
    background: none;
    width: 100%;
    height: 60px;
    border: var(--primary-color) solid 2px;
    text-transform: uppercase;
    color: #f4f4f4;
    background: var(--primary-color);
    cursor: pointer;
    transition: var(--transition);
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 7px;
  }
  
  .btn:hover {
    background: #808000;
    border-color: #808000;
  }
  

.btn-outline {
    background: none;
    width: 200px;
    height: 50px;
    border: aqua   solid 2px;
    text-transform: uppercase;
    cursor: pointer;
    transition: var(--transition);
    color: #f4f4f4;
    border-radius: 7px;
    font-size: 20px;
    margin-top: 50px;
  }
  
  .btn-outline:hover {
    /* background: var(--primary-color);
    border-color: var(--primary-color); */
    background: black;
  border-color: aqua;
  }
  
  .btn-basic {
    background: none;
    width: 200px;
    height: 50px;
    border: aqua solid 2px;
    text-transform: uppercase;
    color: #f4f4f4;
    /* background: var(--primary-color); */
    cursor: pointer;
    font-size: 20px;
    transition: var(--transition);
    border-radius: 7px;
  }

  .btn-basic:hover {
    background: #4d4d00;
    border-color: #4d4d00;}

.btn-dark {
  background: #4d4d00;
  border-color: #4d4d00;
  /* background: black;
  border-color: aqua; */
}

.btn-dark:hover {
  background: #333300;
  border-color: #333300;
}

.line {
    width: 60px;
    height: 5px;
    background: var(--secondary-color);
    margin-bottom: 2px;
  }
  
  .line-2 {
    width: 60px;
    height: 5px;
    background: var(--primary-color);
    margin: 0 0 2px 10px;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
  }
  
  /* Navbar */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 160px;
    /* background: rgba(0, 0, 0, 6); */
    padding: 0 4rem;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
    color: black;
    transition: all 0.4s ease-in;
  }
  .navbar ul {
    display: flex;
  }
  
  .navbar ul li a {
    text-transform: uppercase;
    font-size: 14px;
    padding: 0 10px;
    font-weight: bold;
    transition: var(--transition);
    color: white;
  }

  .navbar ul li a:hover {
    color: var(--secondary-color);
  }
      
  .navbar .logo {
    display: flex;
    align-items: center;
    height: 100%;
  }
  
  .navbar .logo h2 {
    text-transform: uppercase;
    margin-left: 8px;
    font-size: 1.2rem;
  }
  
  .navbar h3 {
    font-weight: 300;
  }

  
  /* Showcase */
#main-header {
    background: url('./background-image.png') no-repeat center center/cover;
    height: 700px;
    position: relative;
    padding-top: 100px;
  }
  
  #main-header:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
  }
  
  .showcase {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 100%;
    padding: 0 4rem;
  }
  
  .showcase .showcase-content {
    color: #f4f4f4;
    z-index: 2;
    max-width: 700px;
  }
  
  .showcase .border {
    background: var(--primary-color);
    display: inline-block;
    padding: 0.4rem 1.5rem;
    margin-bottom: 1.5rem;
  }
  
  .showcase h1 {
    font-size: 2rem;
    text-transform: uppercase;
    line-height: 1.5;
  }
  
  .showcase h3 {
    margin-bottom: 2rem;
    font-size: 14px;
    line-height: 1.5;
  }
  
  .showcase .btn-outline {
    margin-right: 20px;
  }
  
/* map  */
.map {
    display: flex;
    justify-content: center;
    flex-direction: row;
    /* width: 2000px; */
    margin: 100px;
    /* padding: -100px; */
    /* background: ; */
}

  /* Section About */
#about {
    padding: 4rem;
    display: grid;
    grid-gap: 60px;
    grid-template-columns: repeat(2, 1fr);
    margin: 4rem 0;
  }
  
  #about .about-content h1 {
    font-size: 2.3rem;
    width: 320px;
    margin-bottom: 0.8rem;
  }
  
  #about .about-content p {
    margin: 1rem 0;
  }
  
  #about .about-image {
    background: url('./cyber.webp') no-repeat center center/cover;
    box-shadow: -15px -15px 0px #999;
    /* width: 500px;
    height: 150px; */
  }

  /* Images */
.images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 5rem;
    color: #f4f4f4;
  }
  .images .image-left {
    background: url('./cyber.webp') no-repeat center center/cover;
    min-height: 350px;
    position: relative;
  }
  
  .images .image-right {
    background: url('./cyber.webp') no-repeat center center/cover;
    min-height: 350px;
    position: relative;
  }
  
  .heading {
    display: flex;
    align-items: center;
    margin-bottom: 0.8rem;
  }
  
  .heading h1 {
    font-size: 2.3rem;
    margin-left: 25px;
  }

  .images-content {
    margin: 4rem 2rem 2rem;
    padding: 4rem 2rem 2rem;
    transition: all 0.6s ease-out;
  }
  
  .images-content:hover {
    background: rgba(0, 0, 0, 0.6);
    cursor: pointer;
    box-shadow: 5px 5px 0px var(--primary-color);
  }

  /* Services */
#services {
    padding: 3rem;
    margin-bottom: 5rem;
  }
  
  #services h1 {
    font-size: 2.3rem;
    text-align: center;
    margin-bottom: 2.5rem;
  }
  
  #services h3 {
    text-transform: uppercase;
    color: var(--primary-color);
    text-align: center;
  }
  
  #services .items i {
    color: #999;
    margin: 2.5rem 0;
    padding: 0 1.2rem;
  }
  
  #services .items h2 {
    color: var(--primary-color);
    margin-bottom: 0.6rem;
    padding: 0 1.2rem;
  }
  
  #services .items p {
    color: #333;
    margin-bottom: 7rem;
    padding: 0 1.2rem;
  }
  
  #services .items {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
  }
  
  #services .items .item {
    background: #f6f6ee;
    position: relative;
    text-align: center;
    /* margin: auto; */
  }

  /* Counters */
#counters {
    background: url('./cyber.webp') no-repeat center center/cover;
    background-attachment: fixed;
    margin-bottom: 5rem;
    position: relative;
    padding: 0 2rem;
  }
  
  #counters:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
  }
  
  #counters .counters-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  
  #counters .counters-flex {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
  }
  
  #counters .counters {
    display: grid;
    grid-column-gap: 60px;
    grid-row-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    margin: 6rem 3rem;
  }
  
  .counter {
    display: flex;
    align-items: center;
    width: 200px;
  }
  
  .counter h1 {
    font-size: 3rem;
    color: var(--primary-color);
    font-weight: 900;
  }
  
  .counter h3 {
    margin-left: 2rem;
    color: #fff;
  }
  

  .presentation a {
    font-size: 2rem;
    color: #333;
    padding: 2rem 3rem;
    background: #fff;
    font-weight: bold;
    transition: var(--transition);
  }
  
  .presentation a:hover {
    color: var(--primary-color);
  }
  
  #counters .presentation {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
  
  #counters .counters-grid * {
    z-index: 2;
  }
  

  /* Pricing */
#pricing {
    padding: 0 4rem;
    margin-bottom: 8rem;
    
  }
  
  #pricing h3 {
    color: var(--primary-color);
    text-transform: uppercase;
    text-align: center;
  }
  
  #pricing h1 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 3rem;
  }
  
  #pricing .header {
    /* background: var(--primary-color); */
    font-size: 2rem;
    color: #f4f4f4;
    border-radius: 100%;
    width: 250px;
    height: 200px;
    margin: 50px;
  }
  
  #pricing .header-primary {
    background: #4d4d00;
  }
  
  #pricing .number {
    font-size: 1.8rem;
    font-weight: bold;
  }
  
  #pricing .tables  {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
border-radius: 50%;    

  }
  
   
  #pricing .table {
    /* border: var(--primary-color) 2px solid; */
    
  }
  
  #pricing .border-dark {
    border: #4d4d00 2px solid;
  }
  
  #pricing .tables ul {
    text-align: center;
  }
  
  #pricing .tables li {
    padding: 20px;
  }

  .map {
    height: 400px;
  }
  
  /* Footer */
  #main-footer {
    /* background: url('./cyber.webp') repe; */
    /* background: url('./download.jpeg') no-repeat center center/cover; */

    color: black;
    border-bottom: #333 1px solid;
  }
  
  #main-footer .footer-grid {
    display: grid;
    grid-column-gap: 30px;
    grid-template-columns: 60% 40%;
    padding: 5rem 3rem;
  }
  
  #main-footer .f-flex {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
  }
  
  #main-footer h1,
  #main-footer h3, i {
    margin-left: 1rem;
    color: black;
  }
  
  #main-footer h2 {
    margin-bottom: 1rem;
  }
  
  #main-footer p {
    margin-bottom: 1rem;
  }
  
  #main-footer .icons * {
    margin-right: 1rem;
    color: black;
    transition: var(--transition);
  }
  
  #main-footer .icons *:hover {
    color: var(--primary-color);
    cursor: pointer;
  }
  
  #main-footer .input {
    padding: 1rem;
    margin-bottom: 1rem;
    width: 80%;
    color: #000;
    font-size: 1.1rem;
    outline: none;
  }
  
  /* Copyright */
  #copyright {
    background: #000;
    color: #f4f4f4;
    padding: 2rem 5rem;
  }
  

  /* Hamburger */
.burger > div {
    width: 25px;
    height: 3px;
    background: #f4f4f4;
    margin: 5px;
    transition: all 0.3s ease;
  }
  
  .burger {
    cursor: pointer;
    display: none;
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
  }
  
  .toggle .line-1 {
    transform: rotate(-45deg) translate(-5px, 6px);
  }
  
  .toggle .line-2 {
    opacity: 0;
  }
  
  .toggle .line-3 {
    transform: rotate(45deg) translate(-5px, -6px);
  }
  
  @keyframes navLinksFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0px);
    }
  }

  
/* Media Queries */
@media (max-width: 950px) {
    .navbar h3 {
      display: none;
    }

    .navbar .logo {
      display: none;
    }
  
    #counters .counters-grid {
      grid-template-columns: 1fr;
    }
  
    .presentation a {
      margin-bottom: 1.5rem;
    }
  
    #services .items {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (max-width: 850px) {
    .nav-links {
      position: fixed;
      right: 0px;
      top: 0px;
      height: 100vh;
      width: 50%;
      background: rgba(0, 0, 0, 0.6);
      display: flex;
      flex-direction: column;
      align-items: center;
      transform: translatex(100%);
      transition: transform 0.5s ease-in;
    }
  
    .nav-active {
      transform: translatex(0%);
    }
  
    .nav-links li {
      opacity: 0;
      margin: 2rem;
    }
  
    .nav-links li:first-child {
      margin-top: 5rem;
    }
  
    .burger {
      display: block;
    }
  
    #main-header {
      height: 120vh;
    }
  
    .showcase {
      padding: 0 2rem;
    }
  
    .showcase h1 {
      font-size: 3.5rem;
      line-height: 1.3;
    }
  
    .btn-outline {
      margin-bottom: 1rem;
    }
  
    #about {
      padding: 0 2rem;
    }
  
    #about .about-content {
      text-align: center;
    }
  
    .images {
      grid-template-columns: 1fr;
    }
  
    #services .items {
      grid-template-columns: 1fr;
    }
  
    #counters .counters-grid {
      grid-template-columns: 1fr;
    }
  
    #counters {
      background-attachment: scroll;
    }
  
    #pricing .tables {
      grid-template-columns: 1fr;
    }
  
    #main-footer .footer-grid {
      grid-template-columns: 1fr;
      grid-row-gap: 4rem;
    }
  
    #counters .counters {
      grid-template-columns: 1fr;
    }
  }
  
  /* Landscape */
  @media (max-height: 400px) {
    .showcase h1 {
      font-size: 2.2rem;
    }
  
    .showcase h3 {
      font-size: 1rem;
      margin-bottom: 2rem;
    }
  }
  